@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button-gradient {
    @apply flex items-center justify-center gap-2 w-full p-3 rounded-xl shadow-md 
      bg-gradient-to-b from-[rgba(255,255,255,0.2)] to-transparent bg-clip-padding 
      border border-white/40 backdrop-blur-[2px] transition-all duration-300 transform;

    &:active {
      @apply scale-95;
    }
  }
}

:root {
  --background: #0a0a0a;
  --foreground: #fff;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.key__button {
  box-sizing: border-box;
  line-height: 50px;
  font-size: 22px;
  text-align: center;
  width: 280px;
  color: #555;
  cursor: pointer;
  margin: 0 8px;
  height: 50px;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  background: -webkit-linear-gradient(
    top,
    #f9f9f9 0%,
    #d2d2d2 80%,
    #c0c0c0 100%
  );
  display: inline-block;
  transition: box-shadow 0.3s ease, transform 0.15s ease;
  box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 6px 0 #c0c0c0,
    0 8px 17px rgba(68, 68, 68, 0.4), 2px 1px 4px rgba(68, 68, 68, 0.25),
    -2px 1px 4px rgba(68, 68, 68, 0.25), 0 9px 16px rgba(68, 68, 68, 0.1);
}

.key__button:hover,
.key__button:focus {
  box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 4px 0 #c0c0c0,
    0 2px 35px rgba(68, 68, 68, 0.3), 2px 2px 4px rgba(68, 68, 68, 0.25),
    -2px 2px 4px rgba(68, 68, 68, 0.25), 0 7px 4px rgba(68, 68, 68, 0.1);
  transform: translateY(2px);
}
.key__button:active {
  box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 0 0 #c0c0c0,
    0 0px 30px rgba(68, 68, 68, 0.15), 2px 2px 4px rgba(68, 68, 68, 0.25),
    -2px 2px 4px rgba(68, 68, 68, 0.25), 0 0px 4px rgba(68, 68, 68, 0.25);
  transform: translateY(6px);
}

.key__button-2 {
  box-sizing: border-box;
  font-size: 22px;
  text-align: center;
  padding: 20px 8px;
  color: #555;
  cursor: pointer;
  height: 30px;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  background: -webkit-linear-gradient(
    top,
    #f9f9f9 0%,
    #d2d2d2 80%,
    #c0c0c0 100%
  );
  transition: box-shadow 0.3s ease, transform 0.15s ease;
  box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 6px 0 #c0c0c0,
    0 8px 17px rgba(68, 68, 68, 0.4), 2px 1px 4px rgba(68, 68, 68, 0.25),
    -2px 1px 4px rgba(68, 68, 68, 0.25), 0 9px 16px rgba(68, 68, 68, 0.1);
}

.key__button-2:hover,
.key__button-2:focus {
  box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 4px 0 #c0c0c0,
    0 2px 35px rgba(68, 68, 68, 0.3), 2px 2px 4px rgba(68, 68, 68, 0.25),
    -2px 2px 4px rgba(68, 68, 68, 0.25), 0 7px 4px rgba(68, 68, 68, 0.1);
  transform: translateY(2px);
}
.key__button-2:active {
  box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 0 0 #c0c0c0,
    0 0px 30px rgba(68, 68, 68, 0.15), 2px 2px 4px rgba(68, 68, 68, 0.25),
    -2px 2px 4px rgba(68, 68, 68, 0.25), 0 0px 4px rgba(68, 68, 68, 0.25);
  transform: translateY(6px);
}

.key__button_3 {
  box-sizing: border-box;
  font-size: 0.8rem;
  text-align: center;
  color: #555;
  padding: 2px 10px;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  background: -webkit-linear-gradient(
    top,
    #f9f9f9 0%,
    #d2d2d2 80%,
    #c0c0c0 100%
  );
  transition: box-shadow 0.3s ease, transform 0.15s ease;
  box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 6px 0 #c0c0c0,
    0 8px 17px rgba(68, 68, 68, 0.4), 2px 1px 4px rgba(68, 68, 68, 0.25),
    -2px 1px 4px rgba(68, 68, 68, 0.25), 0 9px 16px rgba(68, 68, 68, 0.1);
}

@media (max-width: 375px) {
  #control-buttons {
    width: 100%;
    margin-inline: auto;
    flex-wrap: wrap;
    gap: 12px;
  }
  .key__button-2 {
    font-size: 14px;
    padding: 10px 4px;
  }
}
